body{
  font-family: Arial, Verdana, Helvetica;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img{
    max-width: 250px;
}

p{
    color: black;
    text-align:center;
}

h1{
    color: #f9faf8;
    font-size: 24px;
}

h2{
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
}

.secondary{
    font-weight: 18px;
    color: #e5e7eb;
    padding-bottom: 30px;
    max-width: 600px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button{
    background-color:#3882f6 ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border-style: solid;
    border-color: #f9faf8;
    
}

.header{
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.links{
    display: flex;
    gap: 16px;
}

.hero{
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #1f2937;
    padding-top: 60px;
    padding-bottom: 120px;
    justify-content: space-between;

}

h3{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 60px;


}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}


.quote{
    display: flex;
    background-color: #e5e7eb;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 120px;
    padding-bottom: 100px;
    flex-direction: column;

}

.quote1{
    font-size: 36px;
    font-style: italic;
    padding-bottom: 10px;
}

.quote2{
    display: flex;
    flex-direction: row-reverse;
}

.ads{
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 60px;
    background-color: #3882f6;
    border-style: solid;
    border-color:#1f2937 ;
    border-radius: 10px;
    border-width: 1px;
    justify-content: space-between;
}

.ads1{
    display: flex;
    flex-direction: column;
    
}

.ads2{
    color: #e5e7eb;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 24px;
}

.ads3{
    color: #e5e7eb;
    max-width: 800px;
    font-size: 18px;
}

.ads4{
    color: #e5e7eb;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}

.footer{
    display: flex;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: auto;
    color: #f9faf8;
    align-items: center;
    justify-content: center ;
}